#header {
	background: #1177d1;
	color: #ffffff;
}

#body {
	height: auto !important;
	min-height: min-content;
	height: fit-content;
	position: relative;
	overflow: auto;
}

#hint_1{
	font-size:75%;
	padding-left: 1%;
}
#search_bar{
	top: 0;
	height: 25px;
	padding: 0;
}

#search{
	border-bottom: 0;
	padding-left: 10px;;
	top: inherit;
	height: inherit;
	font-size:75%;
}

#search_label{
	bottom: inherit;
	top: 5px;
	font-size:75%;
	padding-left: 10px;
}

#resourceSelector{
	text-align: right;
}

#footer{
	padding-left: 1%;
}

#checkbox_label_1{
	font-size:75%;
}

#checkbox_label_2{
	font-size:75%;
}

#warning {
	display: inline-block;
	width: 250px;
	margin-top: 5px;
	font-size: 80%;
	color: red;
}
#hint_2{
	font-size:75%;
}
#downloadResources {
	background: #1177d1;
	color: #ffffff;
}

#github{
	display: inline;
}

#git-img{
	float: right;
	width: 9%;
	padding-right: 2%;
}

#nah{
	position:absolute;
	right: 5%;
}
