.mdl-js {
	height: 0;
}

#header, #downloadResources {
	background: #1177d1;
	color: #ffffff;
}

#search, #search_label,
#checkbox_label_1, #checkbox_label_2 {
	font-size:75%;
}

#search_bar{
	top: 0;
	height: 25px;
	padding: 0;
}

#search {
	border-bottom: 0;
	padding-left: 10px;;
	top: inherit;
	height: inherit;
}

#search_label {
	bottom: inherit;
	top: 5px;
	padding-left: 10px;
}

#resourceSelector{
	direction: rtl;
	height: auto;
}

#warning {
	display: inline-block;
	width: 235px;
	margin-top: 5px;
	font-size: 80%;
	color: red;
}

#github, #telegram {
	display: inline;
	width: 10%;
	float: right;
	padding-top: 2px;
	padding-right: 2px;
	padding-left: 5px;
}

#nah {
	float: right;
}

.footer {
	margin-top: 10px;
}